
beautifulsoup4>=4.13
faiss-cpu>=1.11
gdMetriX>=0.0.4
matplotlib>=3.9
networkx>=3.4
nglpy>=1.1
nltk>=3.9
numpy>=2.2
pandas>=2.3
requests>=2.32
scikit-learn>=1.7
scipy>=1.15
sentence-transformers>=4.1
shapely>=2.1
tqdm>=4.64
umap-learn>=0.5
zadu>=0.2
